@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
* {
  font-family: Roboto;
}

.footer-distributed {
  background-color: rgb(255, 200, 221);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}
.footer-distributed .footer-left p {
  color: rgb(35, 27, 27);
  font-size: 14px;
  margin: 0;
}
.footer-distributed .footer-left .footer-links {
  font-size: 18px;
  font-weight: bold;
  color: rgb(35, 27, 27);
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}
.footer-distributed .footer-left .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}
.footer-distributed .footer-left .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: rgb(185, 106, 201);
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-left .footer-links a:hover {
  text-decoration: underline;
}
.footer-distributed .footer-left .footer-links .link-1 :before {
  content: none;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: rgb(185, 106, 201);
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}
.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media (max-width: 600px) {
  .footer-distributed .footer-left {
    text-align: center;
  }
  .footer-distributed .footer-left .footer-links {
    line-height: 1.8;
  }
  .footer-distributed .footer-right {
    text-align: center;
    float: none;
    margin: 0 auto 20px;
  }
}
.navbar {
  padding: 2rem;
  background-color: rgb(255, 210, 252);
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-collapse .ul_list {
  padding-right: 0%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
.nav_header {
  background-color: rgb(255, 200, 221);
}
.nav_header .container-fluid .img_logo {
  object-fit: cover;
  width: 30%;
  height: 30%;
}
.nav_header .container-fluid .li_header a {
  color: rgb(35, 27, 27);
  font-family: "Rowdies", cursive;
  letter-spacing: 0;
  border-radius: 40%;
}
.nav_header .container-fluid .li_header a:hover {
  transition: 500ms linear;
  box-shadow: inset 0 0 20px rgba(255, 210, 252, 0.5), 0 0 20px rgba(185, 106, 201, 0.582);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px rgba(252, 141, 246, 0.6431372549);
  color: rgb(35, 27, 27);
}
.nav_header .container-fluid .li_header a:hover:hover {
  transform: translatey(0px) translatex(0px) scale(1.09);
}
.nav_header .container-fluid .active a {
  color: rgb(185, 106, 201) !important;
  font-family: "Rowdies", cursive;
  letter-spacing: 0;
  border-radius: 40%;
}

/* Font */
/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}
.main .h1_paq {
  font-family: "Caprasimo", cursive;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  color: rgb(185, 106, 201);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6431372549);
  animation: fadeInDown;
  animation-duration: 2s;
}
@media screen and (max-width: 768px) {
  .main .h1_paq {
    font-size: 2rem;
  }
}
.main .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main .cards .cards_item {
  display: flex;
  padding: 1rem;
}
.main .cards .cards_item .card {
  background-color: 204;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}
.main .cards .cards_item .card .card_image {
  transition: ease-in-out 600ms;
  max-width: 100%;
  height: 400px;
}
.main .cards .cards_item .card .card_image:hover {
  transform: translatey(0px) translatex(0px) scale(1.09);
}
.main .cards .cards_item .card .card_content {
  padding: 1rem;
  background: rgb(255, 200, 221);
}
.main .cards .cards_item .card .card_content .card_title {
  color: rgb(35, 27, 27);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}
.main .cards .cards_item .card .card_content .card_text {
  font-family: "Rowdies", cursive;
  font-size: 0.8rem;
  color: rgb(35, 27, 27);
}
.main .cards .cards_item img {
  height: 400px;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  transition: ease-in-out 600ms;
}
.main .cards .cards_item .btn {
  font-family: "Rowdies", cursive;
  color: rgb(35, 27, 27);
  padding: 0.5rem;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(255, 210, 252);
}
.main .cards .cards_item .btn:hover {
  background-color: rgba(185, 106, 201, 0.596);
}
.main .cards .cards_item .btn .link {
  color: rgb(35, 27, 27);
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
.hidding {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.hidding h1 {
  animation: fadeInDown;
  animation-duration: 2s;
  font-family: "Caprasimo", cursive;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  color: rgb(185, 106, 201);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6431372549);
  animation: fadeInDown;
  animation-duration: 2s;
}
@media screen and (max-width: 768px) {
  .hidding h1 {
    font-size: 2rem;
  }
}
.hidding h1::after {
  content: "";
  position: absolute;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 200, 221);
}
.hidding p {
  animation: flipInX;
  animation-duration: 2s;
  font-family: "Rowdies", cursive;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.container .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container .about .about_img {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.container .about .about_img img {
  max-width: 100%;
  height: auto;
  display: block;
  animation: bounceInLeft;
  animation-duration: 2s;
  transition: 0.5s ease;
}
.container .about .about_img img:hover {
  transform: scale(1.2);
}
.container .about .about_content {
  flex: 1;
}
.container .about .about_content h2 {
  font-family: "Caprasimo", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: rgb(185, 106, 201);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6431372549);
}
.container .about .about_content p {
  font-family: "Rowdies", cursive;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}
.container .about .about_content .read_more {
  font-family: "Rowdies", cursive;
  animation: fadeInRight;
  animation-duration: 2s;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(185, 106, 201);
  color: rgb(35, 27, 27);
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}
.container .about .about_content .read_more:hover {
  background-color: rgb(255, 200, 221);
}

@media screen and (max-width: 768px) {
  .hidding {
    padding: 0px 20px;
  }
  .hidding h1 {
    font-size: 36px;
  }
  .hidding p {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container {
    padding: 0px;
  }
  .container .about {
    padding: 20px;
    flex-direction: column;
  }
  .container .about .about_img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .container .about .about_content p {
    padding: 0px;
    font-size: 16px;
  }
  .container .about .about_content .read_more {
    font-family: "Rowdies", cursive;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
  }
}
.contenedor {
  background-color: rgb(255, 200, 221);
  margin: 20px;
  padding: 20px;
}
.contenedor .tittle_menu {
  font-family: "Caprasimo", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: rgb(185, 106, 201);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6431372549);
  animation: fadeInDown;
  animation-duration: 2s;
}
.contenedor img {
  max-width: 100%;
  height: auto;
  display: block;
  animation: bounceInRight;
  animation-duration: 2s;
  transition: 0.5s ease;
}
.contenedor img:hover {
  transform: scale(1.1);
}
.contenedor p {
  font-family: "Rowdies", cursive;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}
.contenedor .btn-primary {
  font-family: "Rowdies", cursive;
  color: rgb(35, 27, 27);
  padding: 0.5rem;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(255, 210, 252);
}
.contenedor .btn-primary:hover {
  background-color: rgba(185, 106, 201, 0.596);
}

.container_menu {
  background-color: rgb(255, 210, 252);
  width: 70%;
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 10px 20px;
  -webkit-box-shadow: 9px 10px 5px -6px rgb(201, 92, 201);
  -moz-box-shadow: 9px 10px 5px -6px rgb(201, 92, 201);
  box-shadow: 9px 10px 5px -6px rgb(201, 92, 201);
}
.container_menu .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container_menu .about .menu_img {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.container_menu .about .menu_img img {
  max-width: 100%;
  height: 400px;
  width: 800px;
  display: block;
  animation: bounceInLeft;
  animation-duration: 2s;
  transition: 0.5s ease;
}
.container_menu .about .menu_img img:hover {
  transform: scale(1.2);
}
.container_menu .about .menu_img .right {
  max-width: 100%;
  height: 400px;
  width: 800px;
  display: block;
  animation: bounceInRight;
  animation-duration: 2s;
  transition: 0.5s ease;
}
.container_menu .about .menu_img .right:hover {
  transform: scale(1.2);
}
.container_menu .about .about_content {
  flex: 1;
}
.container_menu .about .about_content h2 {
  font-family: "Caprasimo", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: rgb(185, 106, 201);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6431372549);
}
.container_menu .about .about_content p {
  font-family: "Rowdies", cursive;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}
.container_menu .about .about_content .read_more {
  font-family: "Rowdies", cursive;
  animation: fadeInRight;
  animation-duration: 2s;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(185, 106, 201);
  color: rgb(35, 27, 27);
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
  padding-top: 15px;
}
.container_menu .about .about_content .read_more:hover {
  background-color: rgb(255, 200, 221);
}

@media screen and (max-width: 768px) {
  .hidding {
    padding: 0px 20px;
  }
  .hidding h1 {
    font-size: 36px;
  }
  .hidding p {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container_menu {
    padding: 0px;
    width: 100%;
  }
  .container_menu .about {
    padding: 20px;
    flex-direction: column;
  }
  .container_menu .about .menu_img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .container_menu .about .about_content p {
    padding: 0px;
    font-size: 16px;
  }
  .container_menu .about .about_content .read_more {
    font-family: "Rowdies", cursive;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
  }
}
#contact {
  padding: 5rem 0;
}
#contact .contact-container {
  display: flex;
  background: rgb(255, 200, 221);
}
#contact .contact-container .contact-img {
  width: 50%;
}
#contact .contact-container .contact-img img {
  display: block;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
#contact .contact-container .form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}
#contact .contact-container .form-container input {
  background-color: white;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(255, 210, 252);
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: rgb(35, 27, 27);
  font-weight: 500;
}
#contact .contact-container .form-container .btn {
  font-family: "Rowdies", cursive;
  color: rgb(35, 27, 27);
  padding: 0.5rem;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(255, 210, 252);
  margin: 1rem;
}
#contact .contact-container .form-container .btn:hover {
  background-color: rgba(185, 106, 201, 0.596);
}
#contact .contact-container .form-container textarea {
  background-color: white;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(255, 210, 252);
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: rgb(35, 27, 27);
  font-weight: 500;
}
#contact .contact-container .form-container h2 {
  font-family: "Caprasimo", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: rgb(185, 106, 201);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6431372549);
}
#contact .contact-container .form-container a {
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  #contact .contact-container {
    padding: 20px;
    flex-direction: column;
  }
  #contact .contact-container .contact-img {
    width: 100%;
  }
  #contact .contact-container .contact-img img {
    width: 100%;
    height: 300px;
  }
  #contact .contact-container .form-container {
    width: 100%;
  }
  #contact .contact-container .form-container input {
    width: 100%;
  }
}
.contendor_Carosel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contendor_Carosel .slide {
  margin-left: 15%;
  margin-right: 15%;
  width: 2000px;
}
.contendor_Carosel .slide .carousel-item {
  align-items: center;
}
.contendor_Carosel .slide .carousel-item img {
  height: 800px;
}

@media screen and (max-width: 768px) {
  .contendor_Carosel .slide {
    margin: 0%;
  }
}
@media screen and (max-width: 425px) {
  .contendor_Carosel .slide {
    margin: 0%;
  }
  .contendor_Carosel .slide .carousel-item {
    align-items: center;
  }
  .contendor_Carosel .slide .carousel-item img {
    height: 400px;
  }
}
.contedor_main_index {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contedor_main_index .pindex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hidding {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.hidding h1 {
  animation: fadeInDown;
  animation-duration: 2s;
  font-family: "Caprasimo", cursive;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  color: rgb(185, 106, 201);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6431372549);
  animation: fadeInDown;
  animation-duration: 2s;
}
@media screen and (max-width: 768px) {
  .hidding h1 {
    font-size: 2rem;
  }
}
.hidding h1::after {
  content: "";
  position: absolute;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 200, 221);
}
.hidding p {
  animation: flipInX;
  animation-duration: 2s;
  font-family: "Rowdies", cursive;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.container .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container .about .about_img {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.container .about .about_img img {
  max-width: 100%;
  height: auto;
  display: block;
  animation: bounceInLeft;
  animation-duration: 2s;
  transition: 0.5s ease;
}
.container .about .about_img img:hover {
  transform: scale(1.2);
}
.container .about .about_content {
  flex: 1;
}
.container .about .about_content h2 {
  font-family: "Caprasimo", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: rgb(185, 106, 201);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6431372549);
}
.container .about .about_content p {
  font-family: "Rowdies", cursive;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}
.container .about .about_content .read_more {
  font-family: "Rowdies", cursive;
  animation: fadeInRight;
  animation-duration: 2s;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(185, 106, 201);
  color: rgb(35, 27, 27);
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}
.container .about .about_content .read_more:hover {
  background-color: rgb(255, 200, 221);
}

@media screen and (max-width: 768px) {
  .hidding {
    padding: 0px 20px;
  }
  .hidding h1 {
    font-size: 36px;
  }
  .hidding p {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container {
    padding: 0px;
  }
  .container .about {
    padding: 20px;
    flex-direction: column;
  }
  .container .about .about_img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .container .about .about_content p {
    padding: 0px;
    font-size: 16px;
  }
  .container .about .about_content .read_more {
    font-family: "Rowdies", cursive;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
  }
}
body {
  background-image: url(../images/Fondo_body.webp);
  background-repeat: round;
}
body h1 {
  font-family: "Caprasimo", cursive;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  color: rgb(185, 106, 201);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6431372549);
  animation: fadeInDown;
  animation-duration: 2s;
}
@media screen and (max-width: 768px) {
  body h1 {
    font-size: 2rem;
  }
}
body p {
  font-family: "Rowdies", cursive;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}
body .contenedor {
  background-color: rgb(255, 200, 221);
}

@media (max-width: 425px) {
  .carousel-inner {
    display: flex;
    height: auto;
  }
}
@media (max-width: 425px) {
  body {
    background-image: none;
    background-color: rgb(255, 240, 246);
  }
}

/*# sourceMappingURL=style.css.map */
