@import './modulos/variables';
@import './modulos/footer';
@import './modulos/header';
@import './modulos/cards2';
@import './modulos/sobremi';
@import './modulos/menu';
@import './modulos/contact';
@import './modulos/carousel';
@import './modulos/index';
@import './modulos/tortas';





body{
    background-image: url(../images/Fondo_body.webp);
    background-repeat: round;
    h1{
        @include disenio_h1
    }
    p{
        @include p;
        
    }
    .contenedor{
        background-color: $background;
}
}

@media  (max-width: 425px){
     .carousel-inner{
        display: flex;
        height: auto;
        
         
     }
 }

@media (max-width: 768px){
    body{
        background-image: none;
        background-color: rgb(255, 240, 246);
    }
}