@import './modulos/variables';
@import './modulos/footer';
@import './modulos/header';
@import './modulos/cards2';
@import './modulos/sobremi';
@import './modulos/menu';
@import './modulos/contact';



body{
    background-image: url(../images/marco-ingredientes-alimentarios-hornear-sobre-fondo-pastel-ligeramente-rosa-cocinar-plano-espacio-copia-vista-superior-concepto-horneado-endecha-plana.jpg);
    background-repeat: round;
    h1{
        @include disenio_h1
    }
    p{
        @include p;
        
    }
    .contenedor{
        background-color: $background;
}
}

@media  screen and (max-width: 768px){
    .carousel{
        width: 300px;
        height: 300px;
    }
}

