.navbar {
    padding: 2rem;
    background-color: $background_navbar;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ul_list{
        padding-right: 0%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

.nav_header{
    background-color: $background;
    .container-fluid{
        .img_logo{
            object-fit: cover;
            width: 30%;
            height: 30%;
        
        }
        .li_header{
            a{
                color: $text;
                font-family: 'Rowdies', cursive;
                letter-spacing: 0;
                border-radius: 40%;
                
                &:hover {
                    //   background-color: $color_tittle;
                      transition: 500ms linear;
                    //   border: 1px solid; 
                      box-shadow: inset 0 0 20px rgba(255, 210, 252, 0.5), 0 0 20px rgba(185, 106, 201, 0.582);
                      outline-color: rgba(255, 255, 255, 0); 
                      outline-offset: 15px;
                      text-shadow: 1px 1px 2px #fc8df6a4;
                      color: $text;
                      @include agrandar
                     
                     }
                     
                }
            }
            .active a{
                color: rgb(185, 106, 201) !important;
                font-family: 'Rowdies', cursive;
                letter-spacing: 0;
                border-radius: 40%;
            }
        }
    }
    
